<form [formGroup]="stockAddForm" (ngSubmit)="stockAddForm.valid && addStock()" autocomplete="off">
  <h4>Ticker:</h4>
  <app-text-input [label]='"Ticker"' [formControl]='stockAddForm.controls["Ticker"]'></app-text-input>
  <h4 class="mt-2">Shares:</h4>
  <app-text-input [label]='"Shares"' [formControl]='stockAddForm.controls["Shares"]' [type]='"number"'></app-text-input>
  <h4 class="mt-2">Purchase Date:</h4>
  <app-date-input [formControl]="stockAddForm.controls['PurchaseDate']" [label]='"Purchase date"' [maxDate]="maxDate">
  </app-date-input>
  <h4 class="mt-2">Exchange Market:</h4>
  <app-text-input [label]='"Exchange Market"' [formControl]='stockAddForm.controls["ExchangeMarket"]'></app-text-input>
  <h4 class="mt-2">Value At Purchase:</h4>
  <app-text-input [label]='"Value At Purchase"' [formControl]='stockAddForm.controls["ValueAtPurchase"]'
    [type]='"number"'>
  </app-text-input>
  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
  <button [disabled]="!stockAddForm.valid" type="submit" class="btn btn-success btn-block mt-4">Add Stock!</button>
</form>

<p *ngIf="error">Error Happened :(</p>
<p *ngIf="added">Stock Added Successfully:)</p>
