<form [formGroup]="stockAddForm" (ngSubmit)="stockAddForm.valid && addStock()" autocomplete="off">
  <h4>Ticker:</h4>
  <input class='form-control' formControlName='Ticker' type="text">
  <h4 class="mt-2">Shares:</h4>
  <input class='form-control' formControlName='Shares' type="text">
  <h4 class="mt-2">Purchase Date:</h4>
  <input class="mt-2" formControlName='PurchaseDate' type="date">
  <h4 class="mt-2">Exchange Market:</h4>
  <input class="form-control" formControlName="ExchangeMarket" type="text">
  <h4 class="mt-2">Value At Purchase:</h4>
  <input class="form-control" formControlName="ValueAtPurchase" type="text">
  <button [disabled]="!stockAddForm.valid" type="submit" class="btn btn-success btn-block">Add Stock!</button>
</form>

<p *ngIf="error">Error Happened :(</p>
<p *ngIf="added">Stock Added Successfully(</p>
